@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
}

a {
  outline: none;
  cursor: pointer;
}

a img {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
}

*:focus {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Segoeui", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 170%;
  font-weight: 400;
  color: #000000;
  background: #fff;
}

#wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

#index #wrapper {
  display: block;
}

#inner #wrapper {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f9c902;
}

a:hover {
  text-decoration: underline;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 900;
  line-height: 135%;
}

h1, .h1 {
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 19px;
}

h6, .h6 {
  font-size: 16px;
}

@media screen and (max-width: 999px) {
  h1, .h1 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 590px) {
  h1, .h1 {
    margin-bottom: 10px;
  }
}
.h1 {
  color: rgba(0, 0, 0, 0.03);
  font-size: 140px;
  line-height: 100%;
  margin-left: -16px;
  margin-bottom: 35px;
  font-weight: 700;
  text-align: left;
  position: relative;
  text-transform: none;
  padding-bottom: 0;
}
.h1 .h_bl {
  position: absolute;
  bottom: 6px;
  left: 0;
  color: #000;
  font-size: 47px;
  line-height: 100%;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .h1 {
    font-size: 120px;
    line-height: 100%;
  }
  .h1 .h_bl {
    font-size: 40px;
    line-height: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .h1 {
    font-size: 90px;
    line-height: 100%;
  }
  .h1 .h_bl {
    font-size: 40px;
    line-height: 100%;
  }
}
@media screen and (max-width: 999px) {
  .h1 {
    font-size: 70px;
    line-height: 100%;
  }
  .h1 .h_bl {
    font-size: 35px;
    line-height: 100%;
  }
}
@media screen and (max-width: 800px) {
  .h1 {
    font-size: 50px;
    line-height: 100%;
  }
  .h1 .h_bl {
    font-size: 30px;
    line-height: 100%;
  }
}
@media screen and (max-width: 590px) {
  .h1 {
    color: #fff;
    font-size: 27px;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .h1 .h_bl {
    font-size: 27px;
    line-height: 100%;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    color: #fff;
    font-size: 24px;
    line-height: 100%;
  }
  .h1 .h_bl {
    font-size: 24px;
    line-height: 100%;
  }
}
a.button {
  padding: 10px 30px 9px;
  height: 41px;
  min-width: 170px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  background-color: #f9c902;
  border: 1px solid #f9c902;
  cursor: pointer;
  border-radius: 22px;
  -webkit-transition: background-color 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s;
  -o-transition: background-color 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s;
  box-shadow: 0 7px 15px rgba(249, 201, 2, 0.3);
}
a.button:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 10px;
  background: url(images/arr_button_bl.png) center no-repeat;
  margin-left: 10px;
}

a.button:hover {
  background-color: transparent;
}

a.button:active {
  opacity: 0.8;
}

.slick-slider, .dg-container {
  position: relative;
  margin: 0 auto;
  /*.slick-dots {
  	position: absolute;
  	width: 300px;
  	margin-left: -150px;
  	left: 50%;
  	bottom: 22px;
  	font-size: 0;
  	text-align: center;
  	
  	li {
  		display: inline-block;
  		width: 15px;
  		height: 15px;
  		border-radius: 11px;
  		line-height: 12px;
  		overflow: hidden;
  		margin: 0 2px;
  		padding: 1px;
  		cursor: pointer;
  		border: 2px solid transparent;
  		background: none;
  		outline: none;
  		
  		button {
  			outline: none !important;
  			padding: 0;
  			border: none;
  			width: 15px;
  			height: 15px;
  			border-radius: 8px;
  			vertical-align: middle;
  			text-indent: 100px;
  			font-size: 0;
  			background-color: #3c3c3c;
  			cursor: pointer;
  		}
  		button::-moz-focus-inner { border: none; }
  		&.slick-active{
  			border-color: $color_a;
  			background-color: $color_a;
  			button {
  				background-color: $color_a;
  			}
  		}
  	}
  }*/
}
.slick-slider .slick-arrow, .dg-container .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 53px;
  height: 10px;
  text-indent: 10000px;
  overflow: hidden;
  z-index: 5;
  outline: none;
  cursor: pointer;
  border: 0;
  -webkit-transition: background-color 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s;
  -o-transition: background-color 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s;
}
.slick-slider .slick-prev, .dg-container .slick-prev {
  left: 9px;
  background-image: url(images/arr_left2.png);
}
.slick-slider .slick-prev:hover, .dg-container .slick-prev:hover {
  background-image: url(images/arr_left2_hover.png);
}
.slick-slider .slick-next, .dg-container .slick-next {
  background-image: url(images/arr_right2.png);
  right: 9px;
}
.slick-slider .slick-next:hover, .dg-container .slick-next:hover {
  background-image: url(images/arr_right2_hover.png);
}
.slick-slider .slick-arrow.slick-disabled, .dg-container .slick-arrow.slick-disabled {
  opacity: 0.2;
  cursor: default;
}

.tabs_container {
  position: relative;
  margin-right: -3px;
}

.in {
  padding: 30px 20px;
  margin: 0 auto;
  max-width: 1560px;
  position: relative;
}
.in:after {
  content: "";
  display: block;
  clear: both;
}

.main_section {
  position: relative;
}

.main_section ul li {
  margin-bottom: 20px;
}

.text ul li {
  padding-left: 80px;
  position: relative;
}
.text ul li:before {
  content: '';
  width: 60px;
  border-top: 1px solid #d9af03;
  position: absolute;
  left: 0;
  top: 15px;
}

.fancybox-enabled {
  overflow: auto;
}

/* start header styles */
#header {
  width: 100%;
  position: absolute;
  top: 0;
  background: #849e1e;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#849e1e', endColorstr='#d1ac12', GradientType=1);
  /* для IE6-9 */
  background: -webkit-linear-gradient(left, #849e1e, #d1ac12);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(left, #849e1e, #d1ac12);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(left, #849e1e, #d1ac12);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(left, #849e1e, #d1ac12);
  /* для IE10+ */
  background: linear-gradient(to right, #849e1e, #d1ac12);
  color: #fff;
  z-index: 30;
}
#header .in {
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 15px;
}
#header #logo {
  margin-right: 52px;
  float: left;
  font-size: 58px;
  color: #fff;
  font-weight: 700;
}
#header #logo img {
  width: 100%;
}
#header #logo a:hover {
  opacity: 0.8;
}
#header a.button {
  float: right;
  margin-left: 47px;
  background-color: transparent;
  border-color: #fff;
  margin-top: 13px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.4px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  color: #fff;
}
#header a.button:after {
  background: url(images/arr_button.png) center no-repeat;
}
#header a.button:hover {
  background-color: #f9c902;
  border-color: #f9c902;
}
#header #headr_cont {
  float: right;
  font-size: 19px;
  line-height: 145%;
  letter-spacing: 2.5px;
  font-weight: 700;
  background: url(images/icon_header_tel.png) left 7px no-repeat;
  padding-left: 32px;
  margin-top: 18px;
}
#header #headr_cont a.tel {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out 0s;
  -moz-transition: color 0.2s ease-out 0s;
  -o-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}
#header #headr_cont a.tel:hover {
  color: #f9c902;
}
#header nav {
  margin: 2px 30px 10px;
  padding: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}
#header nav ul.main_menu li {
  margin-right: 2.14198%;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: top;
  position: relative;
  letter-spacing: 1.6px;
}
#header nav ul.main_menu li.active a:after {
  border-bottom: 1px dotted #f9c902;
  content: '';
  display: block;
  padding-top: 6px;
}
#header nav ul.main_menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 15px;
  padding: 15px 10px 15px;
}
#header nav ul.main_menu a:hover {
  color: #f9c902;
}

#index #header {
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  #header #logo {
    margin-right: 25px;
    width: 170px;
  }
  #header a.button {
    margin-left: 5px;
  }
  #header #headr_cont {
    font-size: 15px;
    line-height: 145%;
    margin-top: 21px;
    width: 120px;
    letter-spacing: 1px;
    background-position: left 3px;
  }
  #header nav {
    margin: 4px 30px 10px;
    font-size: 12px;
    font-weight: 300;
  }
  #header nav ul.main_menu li {
    margin-right: 0;
  }
  #header nav ul.main_menu a {
    padding: 15px 5px 15px;
  }
}
@media screen and (max-width: 999px) {
  #header #logo {
    margin-right: 25px;
  }
  #header a.button {
    margin-left: 25px;
    padding: 10px 14px 4px;
    margin-top: 10px;
    margin-right: 65px;
  }
  #header #headr_cont {
    font-size: 17px;
    line-height: 145%;
    padding-left: 30px;
    margin-top: 19px;
  }
  #header nav {
    margin: 20px 20px 10px 40px;
    padding: 0;
    font-size: 24px;
    line-height: 130%;
    font-weight: 300;
    width: 50px;
    right: 0;
    top: 0;
    position: absolute;
    height: 50px;
  }
  #header nav .menu_button_mob, #header nav .menu_close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 10px solid rgba(255, 255, 255, 0.9);
    border-top: 10px solid rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    display: block;
  }
  #header nav .menu_button_mob:after, #header nav .menu_close:after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 10px;
    width: 100%;
    top: 10px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #header nav .menu_button_mob:before, #header nav .menu_close:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
  }
  #header nav .menu_button_mob.active:before, #header nav .menu_close.active:before {
    display: block;
  }
  #header nav .menu_close {
    z-index: 5;
    display: none;
    position: fixed;
    margin: 15px 20px 10px 40px;
    right: 0;
    left: auto;
    border: 0 !important;
    background: url(images/menu_close.png) center no-repeat;
    background-size: 100% auto;
  }
  #header nav .menu_close:after {
    display: none !important;
  }
  #header nav .menu_close.show {
    display: block;
  }
  #header nav .main_menu_wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: all 0.3s linear;
  }
  #header nav .main_menu_wrap.show {
    transform: translateX(0px);
  }
  #header nav ul.main_menu {
    background: #849e1e;
    /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#849e1e', endColorstr='#d1ac12', GradientType=1);
    /* для IE6-9 */
    background: -webkit-linear-gradient(left, #849e1e, #d1ac12);
    /* для webkit-браузеров */
    background: -moz-linear-gradient(left, #849e1e, #d1ac12);
    /* для firefox 3.6+ */
    background: -o-linear-gradient(left, #849e1e, #d1ac12);
    /* для Opera 11.10+ */
    background: -ms-linear-gradient(left, #849e1e, #d1ac12);
    /* для IE10+ */
    background: linear-gradient(to right, #849e1e, #d1ac12);
    position: relative;
    width: 50%;
    left: 100%;
    top: 0%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.6s ease-out 0s;
    -moz-transition: left 0.6s ease-out 0s;
    -o-transition: left 0.6s ease-out 0s;
    transition: left 0.6s ease-out 0s;
    margin-bottom: 20px;
  }
  #header nav ul.main_menu li {
    text-align: left;
    position: relative;
    top: 22%;
    padding-left: 40px;
    display: block;
  }
  #header nav ul.main_menu li.active a {
    font-weight: 500;
    color: #f9c902;
  }
  #header nav ul.main_menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 70px;
  }
  #header nav ul.main_menu a:hover {
    color: #f9c902;
  }
}
@media screen and (max-width: 800px) {
  #header #logo {
    margin-right: 5px;
    width: 144px;
  }
  #header a.button {
    margin-right: 45px;
    margin-left: 13px;
    margin-top: 0;
  }
  #header #headr_cont {
    letter-spacing: 0px;
    margin-top: 10px;
  }
  #header nav {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-top: 15px;
  }
  #header nav .menu_button_mob, #header nav .menu_close {
    height: 40px;
    width: 40px;
    border-width: 8px;
  }
  #header nav .menu_button_mob:after, #header nav .menu_close:after {
    height: 8px;
    top: 8px;
  }
  #header nav ul.main_menu li {
    padding-left: 0;
  }
}
@media screen and (max-width: 590px) {
  #header a.button {
    display: none;
  }
  #header #headr_cont {
    margin-right: 55px;
    margin-top: 5px;
  }
  #header nav {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 130%;
  }
  #header nav .menu_button_mob, #header nav .menu_close {
    width: 30px;
    height: 30px;
    border-width: 6px;
  }
  #header nav .menu_button_mob:after, #header nav .menu_close:after {
    height: 6px;
    top: 6px;
  }
  #header nav ul.main_menu li {
    padding-left: 4%;
  }
  #header nav ul.main_menu li.active:before {
    width: 4%;
  }
  #header nav ul.main_menu li a {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 450px) {
  #header #logo {
    margin-right: 13px;
    width: 120px;
  }
  #header #headr_cont {
    display: none;
  }
  #header nav {
    width: 30px;
    height: 30px;
  }
}
/* end header styles */
/* start main slider styles */
#main_slider {
  height: 100%;
  display: block;
  min-height: 700px;
  overflow: hidden;
  z-index: 16;
}
#main_slider #background_video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #383b3c url(images/slider_bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 700px;
}
#main_slider #background_video:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.74);
}
#main_slider #background_video video {
  background-color: transparent;
  pointer-events: none;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
}
#main_slider .slider {
  height: 90%;
  width: 100%;
  text-align: center;
}
#main_slider .slider .slick-list, #main_slider .slider .slick-track {
  height: 100%;
}
@-webkit-keyframes slide-text {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) scale(1);
  }
}
@-moz-keyframes slide-text {
  0% {
    opacity: 0;
    -moz-transform: translate(0, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    -moz-transform: translate(0, -50%) scale(1);
  }
}
@keyframes slide-text {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -50%) scale(0.5);
    -moz-transform: translate(0, -50%) scale(0.5);
    -ms-transform: translate(0, -50%) scale(0.5);
    -o-transform: translate(0, -50%) scale(0.5);
    transform: translate(0, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, -50%) scale(1);
    -moz-transform: translate(0, -50%) scale(1);
    -ms-transform: translate(0, -50%) scale(1);
    -o-transform: translate(0, -50%) scale(1);
    transform: translate(0, -50%) scale(1);
  }
}
#main_slider .slider .slide {
  height: auto;
  position: relative;
  padding-top: 80px;
  top: 47.5%;
  color: #fff;
  *top: 10%;
  -webkit-animation: slide-text 0.6s 0.5s both;
  -moz-animation: slide-text 0.6s 0.5s both;
  animation: slide-text 0.6s 0.5s both;
}
#main_slider .slider .slide .h1 {
  color: #fff;
  font-size: 57px;
  line-height: 145%;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-align: center;
}
#main_slider .slider .slide .h1 .yellow {
  color: #f9c902;
}
#main_slider .slider .slide ul {
  padding-top: 18px;
  padding-bottom: 30px;
}
#main_slider .slider .slide ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 4.5% 20px;
  min-width: 120px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding: 3px 0 3px 45px;
  background: url(images/li.png) left center no-repeat;
  text-align: left;
}
#main_slider .slider .slide a.button {
  background-color: transparent;
  color: #fff;
}
#main_slider .slider .slide a.button:hover {
  background-color: #f9c902;
}
#main_slider .slider .slide a.button:after {
  background: url(images/arr_button.png) center no-repeat;
}
#main_slider .slider .slick-arrow {
  margin-top: -45px;
  width: 27px;
  height: 40px;
  background: center no-repeat;
  border-radius: 0;
  -webkit-transition: background 0.2s ease-out 0s;
  -moz-transition: background 0.2s ease-out 0s;
  -o-transition: background 0.2s ease-out 0s;
  transition: background 0.2s ease-out 0s;
}
#main_slider .slider .slick-prev {
  left: auto;
  right: 50%;
  margin-right: 755px;
  background-image: url(images/arrow_left_big.png);
}
#main_slider .slider .slick-prev:hover {
  background-image: url(images/arrow_left_big_hover.png);
}
#main_slider .slider .slick-next {
  right: auto;
  left: 50%;
  margin-left: 755px;
  background-image: url(images/arrow_right_big.png);
}
#main_slider .slider .slick-next:hover {
  background-image: url(images/arrow_right_big_hover.png);
}
#main_slider .form {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 160px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.22);
}
#main_slider .form form {
  text-align: justify;
  padding: 47px 20px 15px;
}
#main_slider .form form:after {
  content: "";
  display: inline-block;
  width: 95%;
}
#main_slider .form form input[type=text] {
  margin-bottom: 0;
  width: 40.38462%;
}
#main_slider .form p {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  margin-right: 3.20513%;
}

@media screen and (max-width: 1600px) {
  #main_slider .slider .slide .h1 {
    font-size: 50px;
  }
  #main_slider .slider .slick-prev {
    left: 20px;
    right: auto;
    margin-right: 0;
  }
  #main_slider .slider .slick-next {
    right: 20px;
    left: auto;
    margin-left: 0;
  }
  #main_slider .form {
    height: 150px;
  }
  #main_slider .form form {
    padding: 42px 20px 15px;
  }
  #main_slider .form form input[type=text] {
    width: 39.10256%;
  }
  #main_slider .form p {
    font-size: 22px;
    margin-right: 2.5641%;
  }
}
@media screen and (max-width: 1300px) {
  #main_slider .slider .slide {
    top: 47.5%;
  }
  #main_slider .slider .slide .h1 {
    font-size: 43px;
    line-height: 145%;
  }
  #main_slider .slider .slide ul li {
    font-size: 15px;
  }
  #main_slider .form {
    height: 150px;
  }
  #main_slider .form form {
    padding: 37px 20px 15px;
  }
  #main_slider .form form input[type=text] {
    width: 32.05128%;
    margin: 0;
  }
  #main_slider .form form input[type=submit] {
    width: 170px;
  }
  #main_slider .form p {
    font-size: 20px;
    margin-right: 0.64103%;
  }
}
@media screen and (max-width: 999px) {
  #main_slider {
    min-height: 600px;
  }
  #main_slider #background_video {
    min-height: 600px;
  }
  #main_slider .slider .slide .h1 {
    font-size: 36px;
    line-height: 145%;
  }
  #main_slider .slider .slide .button {
    font-size: 14px;
  }
  #main_slider .slider .slide ul {
    margin-left: 30px;
    margin-right: 30px;
  }
  #main_slider .slider .slide ul li {
    font-size: 13px;
    padding-left: 25px;
    min-width: inherit;
  }
  #main_slider .slider .slick-arrow {
    margin-top: -15px;
  }
  #main_slider .slider .slick-prev {
    left: 5px;
  }
  #main_slider .slider .slick-next {
    right: 5px;
  }
  #main_slider .form {
    height: auto;
  }
  #main_slider .form form {
    padding: 25px 20px 5px;
    text-align: center;
  }
  #main_slider .form form input[type=text] {
    width: 38.46154%;
    margin: 0 20px 0 0;
  }
  #main_slider .form form input[type=submit] {
    width: 170px;
  }
  #main_slider .form p {
    font-size: 18px;
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 800px) {
  #main_slider .slider .slide .h1 {
    font-size: 26px;
    line-height: 145%;
  }
}
@media screen and (max-width: 590px) {
  #main_slider {
    min-height: 500px;
  }
  #main_slider #background_video {
    min-height: 450px;
  }
  #main_slider .slider .slide .h1 {
    font-size: 24px;
    line-height: 145%;
  }
  #main_slider .slider .slide ul {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #main_slider .slider .slide ul li {
    font-size: 13px;
    margin-bottom: 10px;
  }
  #main_slider .slider .slide .button {
    min-width: inherit;
  }
  #main_slider .form p {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  #main_slider .slider .slide {
    top: 42.5%;
    font-size: 11px;
    padding-top: 30px;
  }
  #main_slider .slider .slide .h1 {
    font-size: 22px;
    line-height: 145%;
  }
  #main_slider .slider .slide ul {
    padding-top: 0px;
  }
  #main_slider .form form {
    padding: 25px 20px 5px;
    text-align: center;
  }
  #main_slider .form form input[type=text] {
    width: 57%;
    margin: 0 0 0;
  }
  #main_slider .form form input[type=submit] {
    width: 120px;
  }
  #main_slider .form p {
    font-size: 14px;
  }
}
/* for IE9 
@media screen and (min-width:0\0) { 
    #main_slider .slider .slide {
	top: 10%;
    }
} */
/* end main slider styles */
/* start services styles */
#services {
  background: #fff;
  text-align: center;
}
#services .in {
  padding-bottom: 10px;
}
#services .h1 {
  text-align: center;
}
#services .services_wrap {
  font-size: 0;
  margin-bottom: 50px;
  margin-bottom: 30px;
}
#services .services_wrap .service {
  font-size: 16px;
  font-weight: 300;
  line-height: 145%;
  display: inline-block;
  height: 311px;
  width: 33.333%;
  margin: 0;
  background-color: #0b1736;
  border: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}
#services .services_wrap .service:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  opacity: 1;
  -webkit-transition: border-color 0.2s ease-out 0s;
  -moz-transition: border-color 0.2s ease-out 0s;
  -o-transition: border-color 0.2s ease-out 0s;
  transition: border-color 0.2s ease-out 0s;
  border: 1px solid transparent;
}
#services .services_wrap .service a {
  display: block;
  width: 100%;
  height: 100%;
}
#services .services_wrap .service .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#services .services_wrap .service .img:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#services .services_wrap .service .h2 {
  font-weight: 300;
  color: #fff;
  position: absolute;
  z-index: 3;
  padding: 15px 5% 15px 30%;
  line-height: 130%;
  font-weight: 300;
  font-family: "Segoeui", Arial, Helvetica, sans-serif;
  bottom: 0;
  top: 35%;
  background: none;
  height: auto;
  text-align: left;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  width: 100%;
  box-sizing: border-box;
}
#services .services_wrap .service span {
  background: url(images/arr_right.png) center no-repeat;
  position: absolute;
  display: inline-block;
  z-index: 5;
  right: 20px;
  top: 48%;
  left: 20%;
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 20px;
  text-indent: -1000px;
  font-weight: 500;
  overflow: hidden;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#services .services_wrap .service span:after {
  display: none;
}
#services .services_wrap .service:first-child .h2 {
  top: 42%;
}
#services .services_wrap .service:hover:after {
  opacity: 0;
}
#services .services_wrap .service:hover:before {
  border-color: #f9c902;
}
#services .services_wrap .service:hover .h2 {
  top: 20%;
  padding-left: 20%;
}
#services .services_wrap .service:hover span {
  left: 30%;
  top: 55%;
  text-indent: 0;
  background: #f9c902;
  width: 168px;
  color: #03325e;
  border-color: #f9c902;
  box-shadow: 0 7px 15px rgba(249, 201, 2, 0.3);
}
#services .services_wrap .service:hover span:hover {
  background-color: #ddb000;
  border-color: #ddb000;
}
#services .button_block {
  margin-bottom: 80px;
}
#services .button_block .button:after {
  display: none;
}

@media screen and (max-width: 1300px) {
  #services .services_wrap .service {
    font-size: 15px;
    height: 251px;
  }
  #services .services_wrap .service .h2 {
    padding: 20px 20px 15px 80px;
    font-size: 20px;
    line-height: 130%;
  }
  #services .services_wrap .service span {
    left: 10%;
  }
  #services .services_wrap .service:hover span {
    left: 25%;
  }
}
@media screen and (max-width: 800px) {
  #services .services_wrap .service {
    width: 100%;
    height: 201px;
    margin-bottom: 0;
    display: block;
  }
  #services .services_wrap .service .h2 {
    font-size: 17px;
    line-height: 130%;
    left: 5%;
  }
}
/* end services styles */
/* start advantages tree styles */
#reviews {
  background: #27437b url(images/reviews_bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#reviews .in {
  padding: 55px 20px;
  text-align: center;
}
#reviews .h1 {
  color: rgba(255, 255, 255, 0.03);
}
#reviews .h1 .h_bl {
  color: #fff;
}
#reviews .reviews_wrap {
  position: relative;
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
}
#reviews .reviews_wrap .review {
  background: #f7f7f7;
  width: 33%;
  margin: 0 10px 20px;
  font-size: 14px;
  display: inline-block;
}
#reviews .reviews_wrap .review a {
  color: #000;
  text-decoration: none;
}
#reviews .reviews_wrap .review .img {
  width: 89px;
  overflow: hidden;
  height: 89px;
  border-radius: 45px;
  border: 3px solid #fff;
  margin: 20px auto 0px;
}
#reviews .reviews_wrap .review .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
#reviews .reviews_wrap .review .text {
  padding: 30px 35px;
  color: #666;
}
#reviews .reviews_wrap .review h3 {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 600;
}
#reviews .button_block a.button:hover {
  color: #fff;
}
#reviews .button_block a.button:hover:after {
  background: url(images/arr_button.png) center no-repeat;
}

@media screen and (max-width: 999px) {
  #news .in {
    padding: 35px 20px;
  }
  #news .reviews_wrap {
    padding-bottom: 20px;
  }
  #news .reviews_wrap .review {
    font-size: 15px;
  }
  #news .reviews_wrap .review .trxt {
    padding: 25px 30px;
  }
  #news .reviews_wrap .review h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 590px) {
  #news .reviews_wrap {
    padding-bottom: 10px;
  }
  #news .reviews_wrap .review {
    font-size: 14px;
  }
  #news .reviews_wrap .review .trxt {
    padding: 20px 25px;
  }
  #news .reviews_wrap .review h3 {
    font-size: 16px;
  }
}
/* end advantages tree styles */
/* start advantages tree styles */
#working {
  background: #27437b url(images/working_bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#working .in {
  padding: 15px 20px 55px;
  text-align: left;
}
#working .h1 {
  color: rgba(255, 255, 255, 0.03);
  text-align: left;
  margin-left: 0;
}
#working .h1 .h_bl {
  color: #fff;
  text-align: left;
}
#working .h1 + p {
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.5px;
  max-width: 420px;
  margin-bottom: 80px;
}
#working .working_wrap {
  position: relative;
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
#working .working_wrap .step {
  width: 27%;
  margin: 20px 80px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.32);
  position: relative;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#working .working_wrap .step:after {
  content: '';
  position: absolute;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  left: 65px;
  border: 1px solid transparent;
  z-index: 1;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#working .working_wrap .step > div {
  padding: 20px;
  border: 1px solid #51aa56;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#working .working_wrap .step > div:before {
  content: '';
  position: absolute;
  width: 46px;
  height: 9px;
  left: -22px;
  top: 49%;
  z-index: 5;
  background: url(images/arr_right3.png) center no-repeat;
}
#working .working_wrap .step > div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #f5e06d;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5e06d', endColorstr='#a1bd17', GradientType=1);
  /* для IE6-9 */
  background: -webkit-linear-gradient(left, #f5e06d, #a1bd17);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(left, #f5e06d, #a1bd17);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(left, #f5e06d, #a1bd17);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(left, #f5e06d, #a1bd17);
  /* для IE10+ */
  background: linear-gradient(to right, #f5e06d, #a1bd17);
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#working .working_wrap .step > div * {
  position: relative;
  z-index: 2;
}
#working .working_wrap .step h3 {
  font-size: 50px;
  padding-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
#working .working_wrap .step .icon {
  margin-bottom: 10px;
}
#working .working_wrap .step .icon img {
  display: inline;
}
#working .working_wrap .step p {
  font-size: 20px;
  line-height: 130%;
  min-height: 55px;
}
#working .working_wrap .step:hover {
  color: white;
}
#working .working_wrap .step:hover:after {
  border-color: #51aa56;
}
#working .working_wrap .step:hover > div {
  border-color: transparent;
}
#working .working_wrap .step:hover > div:after {
  opacity: 1;
}
#working .button_block {
  text-align: center;
}
#working .button_block a.button:hover {
  color: #fff;
}
#working .button_block a.button:hover:after {
  background: url(images/arr_button.png) center no-repeat;
}

@media screen and (max-width: 999px) {
  #news .in {
    padding: 35px 20px;
  }
  #news .reviews_wrap {
    padding-bottom: 20px;
  }
  #news .reviews_wrap .review {
    font-size: 15px;
  }
  #news .reviews_wrap .review .trxt {
    padding: 25px 30px;
  }
  #news .reviews_wrap .review h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 590px) {
  #news .reviews_wrap {
    padding-bottom: 10px;
  }
  #news .reviews_wrap .review {
    font-size: 14px;
  }
  #news .reviews_wrap .review .trxt {
    padding: 20px 25px;
  }
  #news .reviews_wrap .review h3 {
    font-size: 16px;
  }
}
/* end advantages tree styles */
/* start advantages tree styles */
#news {
  background-color: #fff;
}
#news .in {
  padding: 55px 20px;
  text-align: center;
}
#news .news_wrap {
  position: relative;
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  padding-bottom: 30px;
}
#news .news_wrap .new {
  background: #fff;
  width: 23%;
  margin: 0 10px 20px;
  text-align: left;
  font-size: 16px;
  display: inline-block;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
#news .news_wrap .new .img {
  width: 100%;
  overflow: hidden;
  height: 220px;
}
#news .news_wrap .new .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
#news .news_wrap .new article {
  padding: 30px 35px;
}
#news .news_wrap .new time {
  color: #999999;
  font-size: 13px;
  font-weight: 700;
}
#news .news_wrap .new h3 {
  font-size: 18px;
  padding-top: 10px;
}
#news .news_wrap .new h3 a {
  color: #000;
}
#news .news_wrap .new h3 a:hover {
  color: #f9c902;
}
#news .news_wrap .new a.button {
  background: transparent;
  border-style: dashed;
  box-shadow: 0 7px 15px transparent;
}
#news .news_wrap .new a.button:after {
  display: none;
}
#news .news_wrap .new a.button:hover {
  background: #f9c902;
  box-shadow: 0 7px 15px rgba(249, 201, 2, 0.3);
}

@media screen and (max-width: 1600px) {
  #news .news_wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 999px) {
  #news .in {
    padding: 35px 20px;
  }
  #news .news_wrap {
    padding-bottom: 20px;
  }
  #news .news_wrap .new {
    font-size: 15px;
  }
  #news .news_wrap .new .img {
    height: 190px;
  }
  #news .news_wrap .new article {
    padding: 25px 30px;
  }
  #news .news_wrap .new h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 590px) {
  #news .news_wrap {
    padding-bottom: 10px;
  }
  #news .news_wrap .new {
    font-size: 14px;
  }
  #news .news_wrap .new .img {
    height: 170px;
  }
  #news .news_wrap .new article {
    padding: 20px 25px;
  }
  #news .news_wrap .new h3 {
    font-size: 16px;
  }
}
/* end advantages tree styles */
/* start certificates styles */
#about {
  overflow: hidden;
}
#about .in {
  padding: 55px 20px;
}
#about .h1 span {
  text-align: left;
}
#about .text {
  float: left;
  width: 42%;
  padding-top: 30px;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.5px;
}
#about .text ul {
  padding-bottom: 30px;
}
#about .certificates_wrap {
  margin-left: 45%;
  width: auto;
  margin-top: -5%;
  perspective: 1300px;
}
#about .certificates_wrap .dg-wrapper {
  width: 308px;
}
#about .certificates_wrap .dg-wrapper a {
  width: auto;
  height: auto;
}
#about .certificates_wrap .dg-wrapper a img {
  padding-top: 0;
}
#about .certificates_wrap .dg-wrapper a:hover:after {
  opacity: 1;
}
#about .certificates_wrap nav {
  width: 100%;
  left: 0;
  bottom: 50%;
  margin-left: 0;
}
#about .certificates_wrap nav .dg-prev, #about .certificates_wrap nav .dg-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 53px;
  height: 10px;
  text-indent: 10000px;
  overflow: hidden;
  z-index: 5;
  outline: none;
  cursor: pointer;
  border: 0;
  -webkit-transition: background-color 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s;
  -o-transition: background-color 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s;
}
#about .certificates_wrap nav .dg-prev {
  left: 9px;
  background-image: url(images/arr_left2.png);
}
#about .certificates_wrap nav .dg-prev:hover {
  background-image: url(images/arr_left2_hover.png);
}
#about .certificates_wrap nav .dg-next {
  background-image: url(images/arr_right2.png);
  right: 9px;
}
#about .certificates_wrap nav .dg-next:hover {
  background-image: url(images/arr_right2_hover.png);
}

@media screen and (max-width: 999px) {
  #certificates {
    float: none;
    width: auto;
    border-right: 0;
    border-bottom: 1px solid #f4f4f4;
  }

  #inner .certificates_wrap .certificate {
    width: 30.3%;
  }
  #inner .certificates_wrap .certificate a:after {
    background-size: 60px;
  }
}
@media screen and (max-width: 590px) {
  #inner .certificates_wrap .certificate {
    width: 44%;
    margin: 0 3% 20px;
  }
  #inner .certificates_wrap .certificate a:after {
    background-size: 60px;
  }
}
/* end certificates styles */
/* start partners styles */
#partners .in {
  padding: 55px 20px;
  text-align: center;
}
#partners .in:after {
  display: none;
}
#partners .partners_wrap {
  padding: 40px 0 40px 60px;
}
#partners .partner {
  text-align: center;
}
#partners .partner img {
  max-width: 100%;
  vertical-align: bottom;
  opacity: 0.8;
}
#partners .partner img.hover {
  position: absolute;
  top: 0;
  opacity: 0;
}
#partners .partner:hover img {
  opacity: 0;
}
#partners .partner:hover img.hover {
  opacity: 1;
}

/* end partners styles */
/* start forms styles */
#feedback {
  background: #0b1736 url(images/feedback_bg.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
#feedback .in {
  padding: 70px 20px;
}
#feedback .in:before {
  content: '';
  height: 113px;
  border: 1px solid #f9c902;
  position: absolute;
  top: -58px;
  left: 50%;
  margin-left: -1px;
}
#feedback h2 {
  color: #fff;
  margin-bottom: 50px;
}

.form {
  margin: 0 auto;
}
.form form {
  max-width: 1560px;
  margin: 0 auto;
}
.form input, .form textarea, .form select {
  padding: 9px 20px;
  margin: 0 15px 30px;
  width: 608px;
  height: 52px;
  outline: none;
  border: 1px solid rgba(225, 225, 225, 0.2);
  background: white;
  font-family: "Segoeui", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 34px;
  border-radius: 27px;
  color: #000;
  vertical-align: middle;
  box-sizing: border-box;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder, .form select::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder, .form select::-moz-placeholder {
  opacity: 1;
  color: #000;
}
.form input:-moz-placeholder, .form textarea:-moz-placeholder, .form select:-moz-placeholder {
  opacity: 1;
  color: #000;
}
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder, .form select:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}
.form input.name {
  width: 539px;
}
.form input.tel {
  clear: left;
}
.form textarea, .form input.textarea {
  min-width: 535px;
  max-width: 535px;
  min-height: 138px;
  max-height: 138px;
  resize: none;
  float: none;
  margin-bottom: 70px;
}
.form input[type="submit"], .form input[type="reset"] {
  margin-right: 0;
  margin-left: 0;
  width: 215px;
  height: 52px;
  font-size: 16px;
  font-weight: 300;
  background-color: #fdca00;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 26px;
  -webkit-transition: background-color 0.2s ease-out 0s;
  -moz-transition: background-color 0.2s ease-out 0s;
  -o-transition: background-color 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s;
  border-color: #fdca00;
  float: none;
  text-transform: uppercase;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}
.form input[type="submit"]:hover {
  background-color: #ddb000;
  border-color: #ddb000;
}
.form input[type="submit"]:active, .form input[type="reset"]:active {
  opacity: 0.8;
}

@media screen and (max-width: 1600px) {
  .form input, .form textarea, .form select {
    width: 22%;
    margin: 0 1.5% 30px;
  }
  .form input.name {
    width: 47%;
  }
  .form textarea, .form input.textarea {
    min-width: inherit;
    width: 47%;
  }
}
@media screen and (max-width: 999px) {
  .form input, .form textarea, .form select {
    width: 47%;
  }
  .form input.name {
    width: 97%;
    float: none;
  }
  .form textarea, .form input.textarea {
    width: 97%;
    margin-bottom: 50px;
    max-width: 97%;
  }
}
@media screen and (max-width: 590px) {
  .form input, .form textarea, .form select {
    width: 97%;
    height: 41px;
    font-size: 15px;
  }
  .form textarea, .form input.textarea {
    margin-bottom: 30px;
  }
  .form input[type="submit"], .form input[type="reset"] {
    width: 215px;
    height: 41px;
    font-size: 14px;
    padding-top: 3px;
  }
}
/* end forms styles */
/* start contacts styles */
#index #contacts {
  overflow: hidden;
}
#index #contacts .in {
  padding-top: 20зчж;
}
#index #contacts .in:after {
  display: none;
}
#index #contacts .text {
  float: left;
  width: 315px;
  padding: 20px 40px 40px;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.29);
  background: #fff;
  margin-top: 195px;
  margin-bottom: 90px;
}

#contacts .in {
  position: relative;
  z-index: 2;
}
#contacts .map {
  height: 765px;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: #dfdfdf;
}
#contacts .map iframe {
  border: 0;
  height: 100%;
  width: 100%;
}
#contacts .cont {
  font-size: 17px;
  border-bottom: 1px solid #b0b0b0;
  margin-bottom: 16px;
  padding-top: 20px;
}
#contacts .cont h4 {
  margin-bottom: 2px;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 700;
  color: #adadad;
}
#contacts .cont p {
  margin-bottom: 10px;
}
#contacts .cont a {
  color: #000;
}
#contacts .cont a:hover {
  color: #f9c902;
}
#contacts .cont + p {
  font-size: 14px;
  line-height: 163%;
  margin-bottom: 25px;
}
#contacts .text .button {
  min-width: inherit;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
}
#contacts .text .button:after {
  background-image: url(images/arr_button_bl.png);
}

@media screen and (max-width: 1600px) {
  #index #contacts .text {
    margin-top: 155px;
    margin-bottom: 70px;
  }

  #contacts .map {
    height: 720px;
  }
}
@media screen and (max-width: 1300px) {
  #index #contacts .text {
    margin-top: 115px;
    margin-bottom: 50px;
  }

  #contacts .map {
    height: 675px;
  }
}
@media screen and (max-width: 999px) {
  #index #contacts .text {
    margin-top: 95px;
    margin-bottom: 30px;
  }

  #contacts .map {
    height: 635px;
  }
}
@media screen and (max-width: 800px) {
  #index #contacts .text {
    margin-top: 75px;
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    width: 270px;
  }

  #contacts .map {
    height: 535px;
  }
  #contacts .cont {
    font-size: 15px;
    margin-bottom: 16px;
    padding-top: 0px;
  }
  #contacts .cont h4 {
    font-size: 11px;
    line-height: 130%;
  }
  #contacts .cont p {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 590px) {
  #index #contacts .text {
    margin-top: 55px;
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    width: 170px;
  }

  #contacts .map {
    height: 415px;
  }
  #contacts .cont {
    font-size: 14px;
    margin-bottom: 16px;
    padding-top: 0px;
  }
  #contacts .cont h4 {
    font-size: 11px;
    line-height: 130%;
  }
  #contacts .cont p {
    margin-bottom: 10px;
  }
  #contacts .cont + p {
    display: none;
  }
  #contacts .button {
    height: auto;
  }
}
/* end contacts styles */
/* start send_application styles */
.form_block {
  background: -moz-radial-gradient(40% 60%, circle cover, #a9bf1c 0%, #e3d65b 100%);
  /* FF3.6+ */
  background: -webkit-radial-gradient(40% 60%, circle cover, #a9bf1c 0%, #e3d65b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(40% 60%, circle cover, #a9bf1c 0%, #e3d65b 100%);
  /* Opera 11.10+ */
  background: -ms-radial-gradient(40% 60%, circle cover, #a9bf1c 0%, #e3d65b 100%);
  /* IE10+ */
  background: radial-gradient(circle cover at 40% 60%, #a9bf1c 0%, #e3d65b 100%);
  /* W3C */
}
.form_block .in {
  padding: 0px 20px;
}
.form_block .left {
  float: left;
  width: 50%;
  position: relative;
}
.form_block .left .img {
  margin-top: -15px;
  margin-bottom: -15px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.18);
  width: 84.7%;
  position: relative;
}
.form_block .left .img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.16);
}
.form_block .left .img img {
  max-width: 100%;
}
.form_block .h2 {
  font-size: 59px;
  line-height: 100%;
  width: 80%;
  padding-left: 145px;
  left: 20.625%;
  position: absolute;
  color: #fff;
  top: 50%;
  margin-top: -104px;
}
.form_block .h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 121px;
  border: 2px solid #f9c902;
}
.form_block .form {
  padding: 140px 0 80px 10.75%;
  margin-left: 50%;
}
.form_block .form p {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 55px;
}
.form_block .form input[type=text] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  margin-bottom: 20px;
  display: block;
}
.form_block .form input[type=checkbox] {
  width: auto;
  height: auto;
  margin-left: 0;
  border-radius: 0;
  margin-bottom: 15px;
  margin-right: -20px;
  opacity: 0;
}
.form_block .form input[type="submit"] {
  width: 170px;
  height: 41px;
  line-height: 39px;
  padding: 0;
  text-transform: none;
}
.form_block .form label {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  margin-bottom: 70px;
}
.form_block .form label:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  left: 2px;
  top: -4px;
  background: #fff;
}
.form_block .form input[type=checkbox]:checked + label:before {
  background: #fff url(images/checkbox.png) center no-repeat;
}

@media screen and (max-width: 1600px) {
  .form_block .h2 {
    font-size: 50px;
    line-height: 100%;
    padding-left: 130px;
    margin-top: -89px;
  }
  .form_block .h2:before {
    width: 100px;
  }
  .form_block .form {
    padding: 80px 0 60px 10.75%;
  }
}
@media screen and (max-width: 1300px) {
  .form_block .h2 {
    font-size: 40px;
    line-height: 100%;
    padding-left: 100px;
    margin-top: -74px;
    left: 15%;
  }
  .form_block .h2:before {
    width: 70px;
  }
  .form_block .form {
    padding: 50px 0 40px 10.75%;
  }
  .form_block .form p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 135%;
  }
  .form_block .form label {
    margin-bottom: 40px;
  }
  .form_block .form input[type=text] {
    height: 41px;
  }
}
@media screen and (max-width: 999px) {
  .form_block .h2 {
    font-size: 30px;
    line-height: 100%;
    padding-left: 80px;
    margin-top: -54px;
    left: 5%;
  }
  .form_block .h2:before {
    width: 50px;
  }
  .form_block .form {
    padding: 20px 0 10px 4.5%;
    font-size: 14px;
  }
  .form_block .form p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 135%;
  }
  .form_block .form label {
    margin-bottom: 20px;
  }
  .form_block .form input[type=text] {
    height: 41px;
  }
}
@media screen and (max-width: 800px) {
  .form_block .h2 {
    font-size: 22px;
    line-height: 100%;
    padding-left: 50px;
    margin-top: -34px;
    left: 5%;
  }
  .form_block .h2:before {
    width: 30px;
  }
  .form_block .form {
    padding: 20px 0 20px 4.5%;
    font-size: 14px;
  }
  .form_block .form p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 135%;
  }
  .form_block .form label {
    margin-bottom: 15px;
    line-height: 130%;
  }
  .form_block .form input[type=text] {
    height: 41px;
  }
}
@media screen and (max-width: 590px) {
  .form_block .left {
    float: none;
    width: auto;
    padding-top: 20px;
  }
  .form_block .img {
    display: none;
  }
  .form_block .h2 {
    font-size: 22px;
    line-height: 100%;
    padding-left: 50px;
    margin-top: 0px;
    left: 0;
    position: relative;
  }
  .form_block .h2:before {
    width: 30px;
  }
  .form_block .form {
    padding: 20px 0;
    font-size: 14px;
    margin-left: 0;
  }
  .form_block .form p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 135%;
  }
  .form_block .form label {
    margin-bottom: 25px;
    line-height: 130%;
  }
  .form_block .form input[type=text] {
    height: 41px;
  }
}
@media screen and (max-width: 450px) {
  #send_application .h2 {
    font-size: 21px;
    line-height: 130%;
    margin: 0 0 20px;
  }
  #send_application .button {
    height: 43px;
    padding-top: 12px;
  }
  #send_application .button:active {
    height: 41px;
  }
}
/* end send_application styles */
/* start footer styles */
#pre_foo {
  display: table-row;
  height: 100%;
}

#index footer {
  display: block;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  display: table-row;
  background: #f8f8f8;
  /* Old browsers */
  background: -moz-linear-gradient(right, #ffffff 28%, #f8f8f8 28%, #f8f8f8 72%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(28%, #ffffff), color-stop(28%, #f8f8f8), color-stop(72%, #f8f8f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 28%, #f8f8f8 28%, #f8f8f8 50%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 28%, #f8f8f8 28%, #f8f8f8 72%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 28%, #f8f8f8 28%, #f8f8f8 72%);
  /* IE10+ */
  background: linear-gradient(to right, #ffffff 28%, #f8f8f8 28%, #f8f8f8 72%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=1 );
  /* IE6-9 */
  border-top: 10px solid #d5d5d5;
}
footer .in {
  padding: 52px 20px;
  font-size: 14px;
  line-height: 145%;
}
footer .in:after {
  content: "";
  display: block;
  clear: both;
}
footer a {
  color: #000;
  -webkit-transition: color 0.2s ease-out 0s;
  -moz-transition: color 0.2s ease-out 0s;
  -o-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}
footer a:hover {
  color: #f9c902;
  text-decoration: none;
}
footer .foo_left {
  float: left;
  width: 24.35897%;
  margin-right: 5%;
}
footer #foo_logo {
  margin-bottom: 40px;
  width: 200px;
}
footer #foo_logo img {
  width: 100%;
}
footer address p {
  margin-bottom: 5px;
  font-style: normal;
  padding-left: 30px;
  background: url(images/icon_address_bl.png) left 2px no-repeat;
  margin-bottom: 13px;
}
footer .foo_right {
  float: right;
  width: 19.87179%;
  padding-left: 30px;
  border-left: 1px solid #adadad;
  margin-left: 20px;
  margin-top: -20px;
  padding-top: 36px;
  text-align: right;
  padding-bottom: 45px;
}
footer .tel {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 14px;
}
footer a.button {
  color: #000;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  margin-bottom: 45px;
}
footer a.button:after {
  background-image: url(images/arr_button_bl.png);
}
footer .foo_main_menu {
  position: relative;
  padding-bottom: 25px;
  padding-top: 18px;
  font-size: 14px;
  line-height: 145%;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-right: 3.5%;
}
footer .foo_main_menu li {
  margin: 0 0 22px;
}
footer .foo_main_menu .active a {
  color: #f9c902;
  border-bottom: 1px dashed #f9c902;
}
footer .foo_sub_menu {
  position: relative;
  padding-bottom: 25px;
  padding-top: 18px;
  display: inline-block;
  vertical-align: top;
  margin-right: 7.2%;
  margin-top: 0;
}
footer .foo_sub_menu .h4 {
  font-size: 14px;
  line-height: 145%;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .foo_sub_menu li {
  margin: 0 0 22px;
}
footer .foo_sub_menu li a:before {
  content: "-";
  margin-right: 4px;
}
footer .foo_sub_menu .active a {
  color: #f9c902;
}
footer #copy {
  float: left;
  clear: both;
  padding-top: 10px;
}
footer #dev {
  float: right;
}
footer #social {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 25px;
  padding-top: 18px;
  font-size: 14px;
  line-height: 145%;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}
footer #social a {
  margin: 0 8px 0 0;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
}
footer #social a img {
  -webkit-transition: opacity 0.2s ease-out 0s;
  -moz-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s;
}
footer #social a img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
footer #social a:hover img {
  opacity: 0;
}
footer #social a:hover img.hover {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  footer {
    background: #f8f8f8;
    /* Old browsers */
    background: -moz-linear-gradient(right, #ffffff 25%, #f8f8f8 25%, #f8f8f8 75%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffffff), color-stop(25%, #f8f8f8), color-stop(75%, #f8f8f8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 25%, #f8f8f8 25%, #f8f8f8 75%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 25%, #f8f8f8 25%, #f8f8f8 75%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 25%, #f8f8f8 25%, #f8f8f8 75%);
    /* IE10+ */
    background: linear-gradient(to right, #ffffff 25%, #f8f8f8 25%, #f8f8f8 75%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=1 );
    /* IE6-9 */
  }
  footer .foo_left {
    margin-right: 2%;
  }
  footer .foo_right {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 1300px) {
  footer .foo_right {
    padding-bottom: 20px;
    padding-left: 15px;
    width: 22%;
  }
  footer a.button {
    margin-bottom: 20px;
  }
  footer .foo_main_menu {
    padding-bottom: 0;
  }
  footer #social {
    padding-top: 14px;
    display: block;
    text-align: center;
    margin-bottom: -50px;
  }
  footer #social p {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 999px) {
  footer .in {
    font-size: 12px;
    padding: 42px 20px;
  }
  footer #foo_logo {
    width: 160px;
    margin-bottom: 30px;
  }
  footer address p {
    background-size: 14px auto;
    padding-left: 17px;
  }
  footer .foo_right {
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 16px;
  }
  footer .foo_main_menu {
    margin-right: 7%;
  }
  footer .foo_sub_menu {
    display: none;
  }
  footer #social {
    padding-top: 14px;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
  }
  footer #social p {
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  footer {
    background: #f8f8f8;
  }
  footer .in {
    padding: 30px 20px;
  }
  footer .foo_left {
    width: 33%;
  }
  footer .foo_right {
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 16px;
    width: 32%;
  }
  footer .foo_right p {
    display: none;
  }
  footer .foo_main_menu {
    margin-right: 20px;
  }
  footer .foo_main_menu li {
    margin: 0 10px 15px;
  }
  footer #social {
    padding-top: 0px;
    display: block;
    text-align: right;
    margin-bottom: 10px;
    clear: right;
    margin-top: -60px;
  }
}
@media screen and (max-width: 590px) {
  footer #foo_logo {
    width: 120px;
  }
  footer .foo_left {
    width: 45%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  footer .foo_right {
    width: 45%;
  }
  footer .foo_main_menu {
    display: none;
  }
  footer #copy {
    clear: left;
    margin-bottom: 10px;
  }
  footer #social {
    clear: both;
    text-align: left;
    margin-top: 0px;
    padding-bottom: 0;
  }
  footer #social p {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: baseline;
    margin-right: 15px;
  }
}
@media screen and (max-width: 450px) {
  footer .foo_left {
    width: 100%;
    margin-bottom: 0px;
  }
  footer #foo_logo {
    float: left;
    width: 110px;
    margin: 0 15px 20px 0;
  }
  footer address {
    display: inline-block;
  }
  footer .foo_right {
    width: auto;
    padding-left: 0;
    border: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  footer .tel {
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0px;
    margin-bottom: 14px;
  }
  footer a.button {
    color: #000;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    min-width: inherit;
  }
  footer a.button:after {
    background-image: url(images/arr_button_bl.png);
  }
  footer #social {
    text-align: left;
    clear: left;
    padding-top: 16px;
  }
  footer #social p {
    margin-bottom: 20px;
    display: block;
  }
  footer #copy {
    clear: both;
  }
  footer #dev img {
    width: 120px;
  }
}
/* end footer styles */

/*# sourceMappingURL=template_styles.css.map */
